@font-face {
	font-family: 'Foundationfont';	
 	src: url(../fonts/'Playball-Regular.ttf');
}

.firstpart {
	position: relative;
	text-align: center;
	color: white;
}

.firstpart img {
	width: 100%;
	height: 800px;
}
.titlefirstpart {
	color: white;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 80;
	font-family: 'Foundationfont', cursive
}

.navbar {

	color: white;
	height: 83px;
}

.navbar-brand {
	font-family: 'Foundationfont', cursive;
	font-size: 20pt;
	color: white;
}

.container {
	font-size: 15px;
	color: white;
}

.nav-color {
	background-color: white;
	opacity: .9;

}
.header1 {
	background-image: url("../img/3.png");
}

header{
	
	background-size: cover;
	height: 700px;
	width: 100%;
	background-repeat: no-repeat;
	opacity: 0.8;
}

.firsttext {
	margin-top: 10%;
	font-size: 80;
	font-family: 'Foundationfont', cursive;
	color:yellow;
}

.secondtext {
	color: black;
	font-family: helvetica;
}

.thirdtext {
	color: black;
	font-size: helvetica;
	font-size: 30pt;
	margin-top: 6%;
}

.header2 {
	background-color: #F2F2F2;

}

.videostyle {
	margin-top: 14%;

}

.card-title {
	color: black;
	font-size: 20pt;
	margin-left: 15%;
	margin-t

}

.fa-check-circle-o {
	padding-right:10px;
	font-size: 30px;
	color: rgb(185, 53, 78);

}

.titlestyle1 {
	margin-top: 8%;
}

.titlestyle2 {
	margin-top: 23%;

}

.description {
	font-size: 15pt;
	color: grey;
	margin-left: 21%;

}

